SUPABASE_URL=[insert_url_from_database_here]
SUPABASE_ANON_KEY=[insert_anon_key_from_database_here]
SUPABASE_KEY=[insert_service_role_here]
SUPABASE_DB_HOST=[insert_connection_string_here]
SUPABASE_DB_PASSWORD=[insert_password_from_database_here]